body{
    /*font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;*/
    background-color: #ddd;
    margin-top: 0px;
}

h1, h2{
    text-align: center;
    margin-top: 0px;
}
.item{
    
}

.super_container{
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;

}

.container{
    overflow: hidden;
    column-count: 3;
}